front-end/.DS_STORE
front-end/node_modules
front-end/scripts/flow/*/.flowconfig
front-end/.flowconfig
front-end/*~
front-end/*.pyc
front-end/.grunt
front-end/_SpecRunner.html
front-end/__benchmarks__
front-end/build/
front-end/remote-repo/
front-end/coverage/
front-end/.module-cache
front-end/fixtures/dom/public/react-dom.js
front-end/fixtures/dom/public/react.js
front-end/test/the-files-to-test.generated.js
front-end/*.log*
front-end/chrome-user-data
front-end/*.sublime-project
front-end/*.sublime-workspace
front-end/.idea
front-end/*.iml
front-end/.vscode
front-end/*.swp
front-end/*.swo

front-end/packages/react-devtools-core/dist
front-end/packages/react-devtools-extensions/chrome/build
front-end/packages/react-devtools-extensions/chrome/*.crx
front-end/packages/react-devtools-extensions/chrome/*.pem
front-end/packages/react-devtools-extensions/firefox/build
front-end/packages/react-devtools-extensions/firefox/*.xpi
front-end/packages/react-devtools-extensions/firefox/*.pem
front-end/packages/react-devtools-extensions/shared/build
front-end/packages/react-devtools-extensions/.tempUserDataDir
front-end/packages/react-devtools-inline/dist
front-end/packages/react-devtools-shell/dist
front-end/packages/react-devtools-timeline/dist